@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e4e3de;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* POP UP */
.swal2-title {
  font-size: larger;
}

.swal2-input {
  color: black;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.swal2-input:focus {
  outline: none;
  border: 2px solid #038069 !important;
  box-shadow: none
}

.swal2-confirm {
  background-color: #038069;
  color: white;
  font-weight: bold;
  width: 5rem;
  border-radius: 9999px;
  transition: background-color 0.2s ease-in-out;
}

.swal2-cancel {
  background-color: #f27474;
  color: white;
  width: 5.5rem;
  font-weight: bold;
  border-radius: 9999px;
  transition: background-color 0.2s ease-in-out;
}

.swal2-validation-message{
  background-color: transparent;
}
/* //////////////// */